@import url('header.css');
@import url('hero.css');
@import url('sobre.css');
@import url('associe.css');
@import url('animacoes.css');
@import url('tela-associar.css');

/* Estilos globais aqui se necessário */
* {
    box-sizing: border-box;
}

footer {
    background-color: #2A3548;
    color: white;
    text-align: center;
    padding: 5px 0;
}

footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
}